{{template "./Layout/header.tpl" .}}	
<div class="row-fluid">
    <div class="box span12">
        <!--前面导航信息-->
        <div class="box-header" data-original-title="">
            <h2>
                <i class="icon-desktop"></i>
                <span class="break"></span>
            </h2>
            <div class="box-icon">
                <a title="添加" href="javascript:myTable.insert()"> 
                    <i class="icon-plus"></i>
                </a>
                <a id="table-refresh" title="刷新" href="#" onclick="return myTable.search();"> 
                    <i class="icon-refresh"></i>
                </a>
                <a id="toggle-fullscreen" class="hidden-phone hidden-tablet" title="全屏" href="#"> 
                    <i class="icon-fullscreen"></i>
                </a>
                <a class="btn-minimize" title="隐藏" href="#"> 
                    <i class="icon-chevron-up"></i>
                </a>
                <a class="btn-close" title="删除" href="#"> 
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="box-content">
            <!--表格数据-->
            <table class="table table-striped table-bordered table-hover" id="showTable">
            </table>
        </div>
    </div>
</div>
{{template "./Layout/footer.tpl"}}
<script type="text/javascript">
    var myTable = new MeTable({
        tableId:"showTable",
        baseUrl:"/admin/save",
    },{
        "sAjaxSource": "ajaxindex",                          
        "aoColumns":[
            {"data":"Id", "title":"ID", "sName":"Id", "edit":{"type":"hidden"}, "search":{"type":"text"}},
            {"data":"Username", "sName":"Username","title":"管理员账号", "edit":{"options":{"required":1, "rangelength":"[2, 15]"}}},
            {"data":"Password", "sName":"Password", "title":"管理员密码","edit":{"type":"password","options":{"rangelength":"[6, 20]"}}},
            {"data":"Truepass", "sName":"Truepass", "title":"确认密码","edit":{"type":"password","options":{"rangelength":"[6, 20]", "equalTo":"input[name=Password]:first"}}, "defaultContent":""},
            {"data":"Email", "sName":"Email","title":"管理员Email", "edit":{"type":"text", "options":{"required":1, "rangelength":"[2, 50]", "email":1}}, "search":{"type":"text"}},
            {"data":"Status", "sName":"Status","title":"状态","value":{"1":"启用", "0":"待审核", "-1":"停用"}, "createdCell":function(td, data, rowdatas, row, col) {
                var md = {"-1" : {"class":"important", "title":"停用"}, "0" : {"class":"warning", "title":"待审核"}, "1" :{"class":"success", "title":"启用"}}, arr = md[data];
                $(td).html('<span class="label label-' + arr["class"] + '">' + arr["title"] + '</span>')
            }, "edit":{"type":"radio","default": 1, "options":{"required":1, "number":1}}, "search":{"type":"select", }},
            {"data":"CreateTime", "sName":"CreateTime","title":"注册时间", "createdCell":dateTimeString, "edit":{"type":"hidden"}},
            {"data":"LastTime", "sName":"LastTime", "title":"最后登录时间", "createdCell":dateTimeString, "edit":{"type":"hidden"}},
            {"data":"LastIp", "sName":"LastIp", "title":"最后登录IP", "edit":{"type":"hidden"}},
            {"data": null, "title":"操作", "bSortable":false, "createdCell":setOperate, "width":"120px"}
        ],
        "columnDefs":[{"targets":[2,3], "visible":false}],
    });

	// 加载完成
	$(function(){
		// 初始化表格
		myTable.init(); 
	})
</script>