<div class="widget-box widget-color-blue ui-sortable-handle">
    <div class="widget-header">

        <h5 class="widget-title bigger lighter">
            <i class="ace-icon fa fa-desktop"></i>
            文章分类信息
            <button class="btn btn-white btn-success btn-xs me-table-insert">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                添加
            </button>
            <button class="btn btn-white btn-warning btn-xs me-table-delete">
                <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                删除
            </button>
            <button class="btn btn-white btn-primary btn-xs orange2 me-table-reload">
                <i class="ace-icon fa fa-refresh bigger-120 orange"></i>
                刷新
            </button>
            <button class="btn btn-white btn-info btn-xs me-table-insert-detail">
                <i class="ace-icon fa fa-plus bigger-120 yellow"></i>
                添加文章分类
            </button>
        </h5>

        <!--颜色选择-->
        <div class="widget-toolbar widget-toolbar-light no-border">
            <select id="simple-colorpicker-1" class="hide">
                <option selected="" data-class="blue" value="#307ECC">#307ECC</option>
                <option data-class="blue2" value="#5090C1">#5090C1</option>
                <option data-class="blue3" value="#6379AA">#6379AA</option>
                <option data-class="green" value="#82AF6F">#82AF6F</option>
                <option data-class="green2" value="#2E8965">#2E8965</option>
                <option data-class="green3" value="#5FBC47">#5FBC47</option>
                <option data-class="red" value="#E2755F">#E2755F</option>
                <option data-class="red2" value="#E04141">#E04141</option>
                <option data-class="red3" value="#D15B47">#D15B47</option>
                <option data-class="orange" value="#FFC657">#FFC657</option>
                <option data-class="purple" value="#7E6EB0">#7E6EB0</option>
                <option data-class="pink" value="#CE6F9E">#CE6F9E</option>
                <option data-class="dark" value="#404040">#404040</option>
                <option data-class="grey" value="#848484">#848484</option>
                <option data-class="default" value="#EEE">#EEE</option>
            </select>
        </div>

        <!-- 默认操作按钮 -->
        <div class="widget-toolbar no-border">
            <a class="orange2" data-action="fullscreen" href="#">
                <i class="ace-icon fa fa-expand"></i>
            </a>
            <a data-action="collapse" href="#">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
            <a class="me-hide" data-hide=".widget-box:first" href="#">
                <i class="ace-icon fa fa-times white"></i>
            </a>
        </div>
    </div>

    <!--主要显示信息-->
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <table id="showTable" class="table table-striped table-bordered table-hover" >
                    </table>
                </div>
                <div class="col-xs-12 hidden">
                    <table id="detailTable" class="table table-striped table-bordered table-hover" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var oParents = $.parseJSON({{.categorys}});
    function parentStatus(td, data, rowArr, row, col) {if (oParents[data]) $(td).html(oParents[data])}
    // 公共的方法用来处理编辑的信息
    function EditError() {$.gritter.add({title: '编辑出现错误!',text: '服务器没有响应',class_name: 'gritter-error gritter-center',time: 800,});}
    var oStatus = {"0":"停用", "1":"启用"},
        myTable  = new MeTable({"sTitle":"文章分类信息"},{
            "aoColumns":[
                oCheckBox,
                {"data":"id", "sName":"id", "class":"details-control", "title":"栏目ID",  "edit":{"type":"hidden"}, "search":{"type":"text"}, "createdCell":function(td, data, rowArr, row, col){
                    $(td).html(data + '<b class="arrow fa fa-angle-down pull-right"></b>');
                }},
                {"data":"pid", "sName":"pid", "title":"上级分类", "value":oParents, "editTable":{validate:function(x){
                    var v = parseInt(x);if (isNaN(v) || v < 0) return "必须为数字";
                }, "type":"select"},  "edit":{"type":"select", "options":{"number":1}}, "createdCell":parentStatus},
                {"data":"cate_name", "sName":"cate_name","title":"分类名称", "editTable":{validate:function(x){
                    var l = x.length; if (x > 50 || x < 2) return "长度必须为2到50字符";
                }, "type":"text", "name":"CateName"}, "edit":{"options":{"required":1, "rangelength":"[2, 50]"}}},
                {"data":"status", "sName":"status","editTable":{validate:function(x){
                    var v = parseInt(x);if (isNaN(v) || v < 0) return "必须为数字";
                },},   "title":"状态", "value" : oStatus, "edit":{"type":"radio", "default":1, "options":{"required":1, "number":1}},"search":{"type":"select"}, "createdCell":statusToString},
                {"data":"recommend", "sName":"recommend","title":"推荐", "value" : 100, "edit":{"options":{"required":1, "number":1}}},
                 {"data":"sort", "sName":"sort","title":"排序", "value" : 100, "edit":{"options":{"required":1, "number":1}}},
                // 公共属性字段信息
                {"data":"create_time", "sName":"create_time","title":"创建时间", "edit":{"type" :"date"}, "createdCell":dateTimeString},
                {"data":"create_id", "sName":"create_id", "title":"创建用户", "edit":{"type" :"datetime"}},
                {"data":"update_time", "sName":"update_time", "title":"修改时间", "edit":{"type" :"file", options:{"id":"id-input-file-2", type:"ace_input"}}, "createdCell":dateTimeString},
                {"data":"update_id", "sName":"update_id", "title":"修改用户", "edit":{"type" :"time"},},
                oOperate,
            ],
        }, {
            "sClickSelect" : "td.details-control",
            "oTableOptions": {
                "aoColumns":[
                    {"data":"id", "sName":"id", "title":"栏目ID",  "edit":{"type":"hidden"}},
                    {"data":"pid", "sName":"pid", "title":"上级分类", "value":oParents,  "edit":{"type":"select", "options":{"number":1}}, "createdCell":parentStatus},
                    {"data":"cate_name", "sName":"cate_name","title":"分类名称", "edit":{"options":{"required":1, "rangelength":"[2, 50]"}}},
                    {"data":"status", "sName":"status","title":"状态", "value" : oStatus, "edit":{"type":"radio", "default":1, "options":{"required":1, "number":1}},"search":{"type":"select"}, "createdCell":statusToString},
                    {"data":"recommend", "sName":"recommend","title":"推荐", "value" : 100, "edit":{"options":{"required":1, "number":1}}},
                    {"data":"sort", "sName":"sort","title":"排序", "value" : 100, "edit":{"options":{"required":1, "number":1}}},
                    // 公共属性字段信息
                    {"data":"create_time", "sName":"create_time","title":"创建时间", "createdCell":dateTimeString},
                    {"data":"create_id", "sName":"create_id", "title":"创建用户", },
                    {"data":"update_time", "sName":"update_time", "title":"修改时间", "createdCell":dateTimeString},
                    {"data":"update_id", "sName":"update_id", "title":"修改用户", },
                    oOperateDetails,
                ]
            }
        });

    // 页面加载完成
    $(function() {
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
        $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
        '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';
        $.fn.editable.defaults.ajaxOptions = {type: "POST", dataType:'json'};
        // dataTable 初始化
        myTable.init();

        // 表格样式转换
        $('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
            var color_class = $(this).find('option:selected').data('class');
            var new_class = 'widget-box';
            if(color_class != 'default')  new_class += ' widget-color-'+color_class;
            $(this).closest('.widget-box').attr('class', new_class);
        });

        $('#id-input-file-2').ace_file_input({
            no_file:        'No File ...',
            btn_choose:     'Choose',
            btn_change:     'Change',
            droppable:      false,
            thumbnail:      false, //| true | large
            // 允许上传的文件类型
            allowExt:      ['jpg', 'jpeg', 'png', 'gif'],
            allowMime:     ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'],
            maxSize:       200000000,
            denyExt:       ['exe', 'php'],
            before_change: function(files, dropped){
                return true;
            },
            before_remove:function() {

            },
        // 执行上传文件
        }).on('change', function() {
            var file_input = $('#id-input-file-2'), $form = file_input.closest('form');
            var files = file_input.data('ace_input_files');
            if( !files || files.length == 0 ) return false;//no files selected
            var deferred, ie_timeout;
            if( "FormData" in window ) {
                formData_object = new FormData();
                $.each($form.serializeArray(), function(i, item) {
                    formData_object.append(item.name, item.value);
                });
                //and then add files
                $form.find('input[type=file]').each(function(){
                    var field_name = $(this).attr('name');
                    var files = $(this).data('ace_input_files');
                    if(files && files.length > 0) {
                        for(var f = 0; f < files.length; f++) {
                            formData_object.append(field_name, files[f]);
                        }
                    }
                });


                upload_in_progress = true;
                file_input.ace_file_input('loading', true);
                deferred = $.ajax({
                    url:         '/admin/admin/upload',
                    type:        'Post',
                    processData: false,//important
                    contentType: false,//important
                    dataType:   'json',
                    data:       formData_object,
                })

                alert(123)
            }
            else {
                deferred = new $.Deferred;
                var temporary_iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                var temp_iframe =
                        $('<iframe id="'+temporary_iframe_id+'" name="'+temporary_iframe_id+'" \
								frameborder="0" width="0" height="0" src="about:blank"\
								style="position:absolute; z-index:-1; visibility: hidden;"></iframe>')
                                .insertAfter($form)

                $form.append('<input type="hidden" name="temporary-iframe-id" value="'+temporary_iframe_id+'" />');
                temp_iframe.data('deferrer' , deferred);
                $form.attr({
                    method:  'POST',
                    enctype: 'multipart/form-data',
                    target:  temporary_iframe_id //important
                });

                upload_in_progress = true;
                file_input.ace_file_input('loading', true);
                $form.get(0).submit();
                ie_timeout = setTimeout(function(){
                    ie_timeout = null;
                    temp_iframe.attr('src', 'about:blank').remove();
                    deferred.reject({'status':'fail', 'message':'Timeout!'});
                } , 30000);
            }

            // 成功执行
            deferred.done(function(result) {
                if (result.status == 1) {
                    message = "File successfully saved. Thumbnail is: " + result.data.fileDir
                } else {
                    message = "File not saved. " + result.msg;
                }

                alert(message);

            // 失败执行
            }).fail(function(result) {

            // 请求完成执行
            }).always(function() {
                if(ie_timeout) clearTimeout(ie_timeout)
                ie_timeout = null;
                upload_in_progress = false;
                file_input.ace_file_input('loading', false);
            });

            deferred.promise();
        // 错误处理
        }).on('file.error.ace', function(event, info) {
            // 判断错误
            gAlert('文件上传出现错误：', validateFile(info));
            event.preventDefault();
        });
    });
</script>