<p  id="me-table-buttons"></p>
<table  id="show-table" class="table table-striped table-bordered table-hover"></table>
<script type="text/javascript">
    var oParents = $.parseJSON({{.menus}}),
    aStatus = {0: "停用", 1: "启用"},
        myTable = new meTables({
            title: "导航栏目信息",
            number: false,
            table: {
                columns: [
                    {
                        data: "id",
                        title: "栏目ID",
                        edit: {"type": "hidden"},
                        search: {"type": "text"},
                    },
                    {
                        data: "pid",
                        title: "上级分类",
                        value: oParents,
                        edit: {"type": "select", "options": {"number": 1}},
                        createdCell: parentStatus,
                        bSortable: false,
                    },
                    {
                        data: "menu_name",
                        title: "栏目名称",
                        edit: {"options": {"required": 1, "rangelength": "[2, 50]"}},
                        bSortable: false,
                    },
                    {
                        data: "icons",
                        title: "图标",
                        edit: {"options": {"rangelength": "[2, 50]"}},
                        sortable: false,
                    },
                    {
                        data: "url",
                        title: "访问地址",
                        edit: {"options": {"rangelength": "[1, 50]"}},
                        search: {"type": "text"},
                        sortable: false,
                    },
                    {
                        data: "status",
                        title: "状态",
                        value: aStatus,
                        edit: {"type": "radio", "default": 1, "options": {"required": 1, "number": 1}},
                        search: {"type": "select"},
                        createdCell: function (td, data) {
                            $(td).html(data === 1 ? "启用" : "停用");
                        },
                        sortable: false,
                    },
                    {
                        data: "sort",
                        title: "排序",
                        value: 100,
                        edit: {"type": "text", "options": {"required": 1, "number": 1}}
                    },
                    // 公共属性字段信息
                    {
                        data: "created_at",
                        title: "创建时间",
                        defaultOrder: "desc",
                    },
                    {
                        data: "updated_at",
                        title: "修改时间"
                    },
                ]
            },
        });

    function parentStatus(td, data) {
        $(td).html(oParents[data]);
    }

    $(function () {
        // 表单初始化
        myTable.init();
    })
</script>