<ol class="breadcrumb m-a">
    <li><a href="/">首页</a></li>
    <li class="active">文章</li>
</ol>
<ul class="col-md-12 p-15 center-block" id="m-content"></ul>
<div id="m-page"></div>
<script type="text/javascript" src="/static/js/page.js"></script>
<script type="text/javascript">
    var page = new MePage({ajaxUrl:"/article/list", divId:"#m-page", pageSize: 25, callback:function(data, size) {
        var html = '';
        for (var i = 0; i < size; i ++)
        {
            html += '<li class="p-15 m-top-5 m-a" style="border-bottom:1px solid #f2dede;">\
            <a href="article/view/'+data[i].id+'"><span class="text-primary">'+data[i].title.substr(0, 36)+'</span></a>\
            <span class="dtime p-left-20 time pull-right"> '+ timeFormat(data[i].create_time) + '</span>\
            <span class="glyphicon glyphicon-star pull-right m-right-10"> <a href="article/view/'+data[i].id+'">编程</a> </span>\
        </li>';
        }

        $('#m-content').html(html);
    }});
</script>