	<!-- start: JavaScript-->
	<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.ui.touch-punch.js"></script>	
	<script type="text/javascript" src="/static/js/modernizr.js"></script>	
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>	
	<script type="text/javascript" src='/static/js/fullcalendar.min.js'></script>	
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript" src="/static/js/excanvas.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.pie.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.stack.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
	<script type="text/javascript" src="/static/js/jquery.chosen.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.uniform.min.js"></script>		
	<script type="text/javascript" src="/static/js/jquery.cleditor.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.noty.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.elfinder.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.raty.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.iphone.toggle.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.uploadify-3.1.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.gritter.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.imagesloaded.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.knob.modified.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.sparkline.min.js"></script>	
	<script type="text/javascript" src="/static/js/counter.min.js"></script>	
	<script type="text/javascript" src="/static/js/raphael.2.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/justgage.1.0.1.min.js"></script>	
	<script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>	
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/static/js/wizard.min.js"></script>
	<script type="text/javascript" src="/static/js/core.min.js"></script>	
	<script type="text/javascript" src="/static/js/charts.min.js"></script>	
	<script type="text/javascript" src="/static/js/custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="/static/js/datepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/validate.message.js"></script>
    <script type="text/javascript" src="/static/js/comm.func.js"></script>
    <script type="text/javascript" src="/static/js/dataTable.js"></script>
    <script type="text/javascript" >
	    $(function(){
	    	// 定义标题
			var title = $("li.active a").text(),icons = $("li.active a i").attr("class");
			$("div.box-header h2").append(title).find("i").attr("class", icons);

	        // 隐藏内容
	        $('.btn-close:first').click(function () {
	            $('.main-menu li.active a').append('<span class="label">显示</span>').addClass('isShow').bind('click', function (e) {
	                e.preventDefault();
	                $('.row-fluid .box:first').fadeIn();
	                $('.box:gt(0)').fadeOut();
	                $(this).unbind('click').find('span:last').remove();
	                return false;
	            });
	        });
	    })
    </script>
</body>
</html>